<!--The content below is only a placeholder and can be replaced.-->
<div class="center">
  <h1>
    どうぶつパズル
  </h1>
  <div class="img-wrap">
    <div cdkDropList
            #columna="cdkDropList"
            [cdkDropListData]="column1"
            [cdkDropListConnectedTo]="[columnb, columnc, columnd,columne ,columnf]"
            class="list"
            (cdkDropListDropped)="drop($event)">
          <img *ngFor="let item of column1" src="./assets/images/{{item}}" cdkDrag>
    </div>
    <div cdkDropList
            #columnb="cdkDropList"
            [cdkDropListData]="column2"
            [cdkDropListConnectedTo]="[columna, columnc, columnd,columne ,columnf]"
            class="list"
            (cdkDropListDropped)="drop($event)">
            <img  *ngFor="let item of column2" src="./assets/images/{{item}}" cdkDrag>
    </div>
    <div cdkDropList
            #columnc="cdkDropList"
            [cdkDropListData]="column3"
            [cdkDropListConnectedTo]="[columna, columnb,columnd,columne ,columnf]"
            class="list"
            (cdkDropListDropped)="drop($event)">
            <img  *ngFor="let item of column3" src="./assets/images/{{item}}" cdkDrag>
    </div>
    <div cdkDropList
            #columnd="cdkDropList"
            [cdkDropListData]="column4"
            [cdkDropListConnectedTo]="[columna, columnb, columnc, columne ,columnf]"
            class="list"
            (cdkDropListDropped)="drop($event)">
            <img  *ngFor="let item of column4" src="./assets/images/{{item}}" cdkDrag>
    </div>
    <div cdkDropList
            #columne="cdkDropList"
            [cdkDropListData]="column5"
            [cdkDropListConnectedTo]="[columna, columnb, columnc, columnd,columnf]"
            class="list"
            (cdkDropListDropped)="drop($event)">
            <img  *ngFor="let item of column5" src="./assets/images/{{item}}" cdkDrag>
    </div>
    <div cdkDropList
            #columnf="cdkDropList"
            [cdkDropListData]="column6"
            [cdkDropListConnectedTo]="[columna, columnb, columnc, columnd,columne]"
            class="list"
            (cdkDropListDropped)="drop($event)">
            <img  *ngFor="let item of column6" src="./assets/images/{{item}}" cdkDrag>
    </div>
  </div>
</div>
